attrs==25.1.0
bcrypt==4.2.1
beautifulsoup4==4.9.1
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
gunicorn==19.9.0
Jinja2==3.1.5
jsonschema==3.2.0
lxml==5.3.1
MarkupSafe==3.0.2
mysqlclient==2.2.7
nltk==3.5
numpy==2.2.3
pandas==2.2.3
pickleshare==0.7.5
PyMySQL==1.1.1
requests==2.23.0
scikit-learn==1.6.1
scipy==1.15.1
soupsieve==2.6
tmdbv3api==1.6.1
tqdm==4.67.1
urllib3==1.25.11
Werkzeug==3.1.3